<form [formGroup]="OfferRide" class="row container">
    <div [formGroup]="rideDetails" class="col-sm-4 box">
        <span class="title"> Offer a Ride</span>
        <span (click)="redirect()"><label class="switch">
                <input type="checkbox" checked />
                <span class="slider round"></span>
            </label>
        </span>
        <div class="caption">we get you the matches asap !</div>
        <div class="row">
            <div class="col-sm-11 rightcard">
                <div class="inputField"><label for="from">From</label></div>
                <input type="text" formControlName="from" />
                <small class="text-danger"
                    *ngIf="rideDetails?.get('from')?.errors?.['pattern'] && (rideDetails?.get('from')?.touched)">Invalid
                    name</small>
                <small class="text-danger"
                    *ngIf="rideDetails?.get('from')?.errors?.['required'] && (rideDetails?.get('from')?.touched)">Required</small>
                <div class="inputField"><label for="to">To</label></div>
                <input type="text" formControlName="to" />
                <small class="text-danger"
                    *ngIf="rideDetails?.get('to')?.errors?.['pattern'] && (rideDetails?.get('to')?.touched)">Invalid
                    name</small>
                <small class="text-danger"
                    *ngIf="rideDetails?.get('to')?.errors?.['required'] && (rideDetails?.get('to')?.touched)">Required</small>
                <div class="inputField"><label for="date">Date</label></div>
                <input type="date" formControlName="date" [min]="min" />
                <small class="text-danger"
                    *ngIf="rideDetails?.get('date')?.errors?.['required'] && (rideDetails?.get('date')?.touched )">Required</small>
                <div class="inputField"><label for="time">Time</label>
                </div>
                <div class="time">
                    <input type="radio" id="time1" name="time" value="5am-9am" formControlName="time" checked />
                    <label for="time1">5am-9am</label>

                    <input type="radio" id="time2" name="time" value="9am-12pm" formControlName="time" />
                    <label for="time2">9am-12pm</label>

                    <input type="radio" id="time3" name="time" value="12pm-3pm" formControlName="time" />
                    <label for="time3">12pm-3pm</label>

                    <input type="radio" id="time4" name="time" value="3pm-6pm" formControlName="time" />
                    <label for="time4">3pm-6pm</label>

                    <input type="radio" id="time5" name="time" value="6pm-9pm" formControlName="time" />
                    <label for="time5">6pm-9pm</label>
                </div>
            </div>
            <div id="sideBar" class="col-sm-1 leftcard">
                <li class="startingPoint"></li>
                <li></li>
                <li></li>
                <li class="destinationPoint">
                    <i class="fas fa-map-marker-alt i"></i>
                </li>
            </div>
        </div>
        <div (click)="addCard()">
            <button id="nextbutton" [disabled]="!rideDetails.valid">Next >></button>
        </div>
    </div>
    <div *ngIf="next" [formGroup]="stopDetails" class="col-sm-4 box">
        <span class="title"> Offer a Ride</span>
        <span (click)="redirect()"><label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
            </label>
        </span>
        <div class="caption">we get you the matches asap !</div>
        <div class="row">
            <div class="col-sm-11 rightcard">
                <div class="inputField">
                    <label for="stopName1">Stop1{{ stopNumber }}</label>
                </div>
                <input type="text" formControlName="stopName1" />

                <div class="inputField">
                    <label for="stopName2">Stop2{{ stopNumber }}</label>
                </div>
                <input type="text" formControlName="stopName2" />

                <div class="inputField">
                    <label for="stopName3">Stop3{{ stopNumber }}</label>
                </div>
                <input type="text" formControlName="stopName3" />
                <div class="row pricebar">
                    <div class="col-sm-7">
                        <div class="inputField">
                            <label for="availableSeats">Available Seats</label>
                        </div>
                        <div class="seats">
                            <input type="radio" id="seat1" formControlName="seats" name="seats" value="1" checked />
                            <label for="seat1">1</label>
                            <input type="radio" id="seat2" formControlName="seats" name="seats" value="2" />
                            <label for="seat2">2</label>
                            <input type="radio" id="seat3" formControlName="seats" name="seats" value="3" />
                            <label for="seat3">3</label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="inputField">
                          <label for="price">Price</label>
                        </div>
                        <input type="text" formControlName="price" id="price" placeholder="&#8377;0" />
                        <small class="text-danger"
                          *ngIf="rideDetails?.get('price')?.errors?.['required'] && rideDetails?.get('price')?.touched">
                          Required
                        </small>
                        <small class="text-danger"
                          *ngIf="rideDetails?.get('price')?.errors?.['positiveNumber'] && rideDetails?.get('price')?.touched">
                          Price must be a positive number
                        </small>
                      </div>
                      
                </div>
            </div>
            <div class="col-sm-1 leftcard">
                <li class="startingPoint"></li>
                <li></li>
                <li></li>
                <li class="destinationPoint">
                    <i class="fas fa-map-marker-alt i"></i>
                </li>
                <!-- <li id="add">
                    <button id="add" [disabled]="!pickupStop.valid">
                        <i class="fas fa-plus i"></i>
                    </button>
                </li> -->
            </div>
        </div>
        <div id="submit">
            <button type="submit" (click)="submit()" [disabled]="!OfferRide.valid">
                Submit
            </button>
        </div>
    </div>
</form>